 {% load static %}
<div class="row align-items-center py-2" id="paradigm-{{ paradigm.pk }}">
    <div class="col">{{ paradigm.name }}</div>
    <div class="col">{{ paradigm.get_part_of_speech_display }}</div>
    <div class="col">{{ paradigm.column_labels }}</div>
    <div class="col">{{ paradigm.row_labels }}</div>
    <div class="col-auto">
        <a href="{% url 'lexicon:project_admin_paradigm_update' lang_code paradigm.pk %}"
           hx-get="{% url 'lexicon:project_admin_paradigm_update' lang_code paradigm.pk %}"
           hx-target="#paradigm-{{ paradigm.pk }}"
           hx-swap="outerHTML"
           class="svg-button text-decoration-none">
            <img src="{% static '/img/pencil.svg' %}" alt="Edit">
        </a>
        <a href="{% url 'lexicon:project_admin_paradigm_delete' lang_code paradigm.pk %}"
           hx-get="{% url 'lexicon:project_admin_paradigm_delete' lang_code paradigm.pk %}"
           hx-target="#paradigm-container"
           hx-swap="outerHTML"
           class="svg-button">
            <img src="{% static '/img/trash-can.svg' %}" alt="Edit">
        </a>
    </div>
</div>