{% extends 'base.html' %}
{% block header %}
{% include 'includes/header.html' %}
{% endblock %}

{% load crispy_forms_tags %}

{% block title %}Reset Your Password{% endblock %}

{% block page_content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Reset Your Password</h2>
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary">Reset My Password</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}