{% comment %}
  Editable conjugation paradigm form. 
  HTMX will replace the view version of the paradigm with this form when editing.
{% endcomment %}

{% load dict_utils %}

<div class="htmx-action-container">
  <div class="permission-errors"></div> {# Area to display permission errors #}

  <div class="row p-3" id="paradigm-{{ paradigm.pk }}">
    <form>
      {% csrf_token %}
      {{ formset.management_form }}

      <div class="row">
        <div class="col-md-10">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                {% for col in paradigm.column_labels %}
                  <th>{{ col }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% if formset.errors %}
                <div class="alert alert-danger" role="alert">
                  <ul>
                    {% for form in formset.forms %}
                      {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      {% endfor %}
                    {% endfor %}
                    {# Optionally, show formset non-form errors #}
                    {% for error in formset.non_form_errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              {% for row_idx in forms_grid %}
                <tr>
                  <th>{{ paradigm.row_labels|index:forloop.counter0 }}</th>
                  {% for form in row_idx %}
                    <td>
                      {{ form.conjugation.errors }}
                      {% if form %}
                        {{ form.id }}
                        {{ form.conjugation}}
                    {% else %}
                      <input type="text" name="empty-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}" data-row="{{ forloop.parentloop.counter0 }}" data-col="{{ forloop.counter0 }}" placeholder="—" />
                    {% endif %}
                    </td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-2 d-flex align-items-start justify-content-end">
          <button class="btn btn-success"
                  hx-post="{% url 'lexicon:conjugation_grid' lang_code word.pk paradigm.pk 'view' %}"
                  hx-target="#paradigm-{{ paradigm.pk }}"
                  hx-swap="outerHTML"
                  hx-trigger="click">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
