{% extends 'base.html' %}
{% block header %}
{% include 'lexicon/includes/project_header.html' %}
{% endblock %}
{% block page_content %}
{% load crispy_forms_tags %}

<div class="container my-4">
    <h2 class="py-1">Update or create an ignore word</h2>
    

    <form action="" method="post">
        {% csrf_token %}
        {{form|crispy}}

        {% if object %}
        <button type="input" id="submit-btn" class="btn btn-primary">Update</button>
        <a href="{% url 'lexicon:delete_ignore' object.project.language_code object.pk%}"><button type="button" class="btn btn-danger my-4">Delete</button></a>
        {% else %}
            <button type="input" id="submit-btn" class="btn btn-primary">Create</button>
        {% endif %}
</div>

{% endblock %}