<div>
<nav class="navbar navbar-dark navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">


        <!-- Home Link --> 
        <a class="navbar-brand" href="/">{% if user.is_superuser %}v{{version}}{% endif %} Home </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <!-- Links -->
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 p-2 mx-4">

                {% block project_links %}{% endblock %}
            </ul>
            {% include 'includes/login_dropdown.html' %}
        </div>
    </div>
</nav>
</div>