{% extends 'base.html' %}
{% block header %}
{% include 'lexicon/includes/project_header.html' %}

{% endblock %}
{% block page_content %}


<div class="btn-group p-4" role="group">
<a href="{% url 'lexicon:create_entry' lang_code %}"><button type="button" class="btn btn-secondary">Add a word</button></a>
</div>

{% include 'lexicon/includes/search_bar.html' with search_view="lexicon:lexicon_search" %}
{% include 'lexicon/includes/search-results.html' %}


<footer class="footer text-center bg-dark fixed-bottom py-2">
    <a class="text-light" href="#top">Jump to top</a>
</footer>

{% endblock %}  