<div id ="affix-modal">
<div class="modal-header">
  <h5 class="modal-title">Confirm Deletion</h5>
</div>
<div class="modal-body">
  <p>Are you sure you want to delete the affix "<strong>{{ affix.name }}</strong>"
  <p class="text-muted"><small>This action cannot be undone.</small></p>
</div>
<div class="modal-footer">

  <form method="post" action="{% url 'lexicon:project_admin_affix_delete' lang_code affix.pk %}"
        hx-post="{% url 'lexicon:project_admin_affix_delete' lang_code affix.pk %}"
        hx-target="#affix-modal"
        hx-swap="outerHTML">
        {% csrf_token %}

    <button
       hx-get="{% url 'lexicon:project_admin_affix_list' lang_code %}"
        hx-target="#affix-modal"
        hx-swap="innerHTML"type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-danger">Delete affix</button>
  </form>
</div>
</div>