 {% load static %}
<div class="row align-items-center py-2" id="affix-{{ affix.pk }}">
    <div class="col">{{ affix.name }}</div>
    <div class="col">{{ affix.get_applies_to_display }}</div>
    <div class="col">{{ affix.affix_letter }}</div>
    <div class="col-auto">
        <a href="{% url 'lexicon:affix_edit' lang_code affix.pk %}"
           hx-get="{% url 'lexicon:affix_edit' lang_code affix.pk %}"
           hx-target="#affix-{{ affix.pk }}"
           hx-swap="outerHTML"
           class="svg-button text-decoration-none">
            <img src="{% static '/img/pencil.svg' %}" alt="Edit">
        </a>
        <a href="{% url 'lexicon:affix_delete' lang_code affix.pk %}"
           hx-get="{% url 'lexicon:affix_delete' lang_code affix.pk %}"
           hx-target="#affix-container"
           hx-swap="outerHTML"
           class="svg-button">
            <img src="{% static '/img/trash-can.svg' %}" alt="Edit">
        </a>
    </div>
</div>