<!-- lexicon/includes/variations/variation_display.html -->
 {% load static %}
<div class="row align-items-center py-2" id="variation-{{ variation.pk }}">
    <div class="col">{{ variation.text }}</div>
    <div class="col">{{ variation.get_type_display }}</div>
    <div class="col text-center svg-button">
        {% if variation.included_in_spellcheck %} <img src="{% static '/img/check.svg' %}" alt="tick">
        {% else %} <img src="{% static '/img/xmark.svg' %}" alt="cross">
        {% endif %}
    </div>
    <div class="col text-center svg-button">
        {% if variation.included_in_search %} <img src="{% static '/img/check.svg' %}" alt="tick">
        {% else %} <img src="{% static '/img/xmark.svg' %}" alt="cross">
        {% endif %}
    </div>
    <div class="col-auto">
        <a href="{% url 'lexicon:variation_edit' variation.pk %}"
           hx-get="{% url 'lexicon:variation_edit' variation.pk %}"
           hx-target="#variation-{{ variation.pk }}"
           hx-swap="outerHTML"
           class="svg-button">
            <img src="{% static '/img/pencil.svg' %}" alt="Edit">
        </a>
    </div>
</div>