<!-- lexicon/includes/variations/variation_edit.html -->
{% load static %}
<form method="post"
      {% if form_type == "create" %}
      hx-post="{% url 'lexicon:variation_create' lang_code word.pk %}"
      {% else %}
      hx-post="{% url 'lexicon:variation_update' lang_code form.instance.pk %}"
      {% endif %}
      hx-target="#variation-container"
      hx-swap="outerHTML"
      class="row align-items-center py-2"
      id="variation-{{ form.instance.pk }}">
    {% csrf_token %}
    <div class="col">{{ form.text }}</div>
    <div class="col">{{ form.type }}</div>
    <div class="col text-center">{{ form.included_in_spellcheck }}</div>
    <div class="col text-center">{{ form.included_in_search }}</div>
    <div class="col-auto">
        <button type="submit" class="svg-button px-2">
            <img src="{% static 'img/check.svg' %}" alt="Save">
        </button>
        <a href="{% url 'lexicon:variation_list' lang_code word.pk %}"
           hx-get="{% url 'lexicon:variation_list' lang_code word.pk %}"
           hx-target="#variation-container"
           hx-swap="innerHTML"
           class="svg-button px-2">
            <img src="{% static 'img/ban.svg' %}" alt="Cancel">
        </a>
    </div>
</form>